.title-section{display: flex
    ;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: white;
        background: transparent;
        height: 40vh;
        width: 100%;
        align-items: center;
        gap: 3rem;
}


.title-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 25%;
}

.title-section p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 35%;
}