  
  .item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(100, 255, 100, 0.1);
    position: relative;
    border: 1px solid #55ff88;
  }
  
  .icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #55ff88;
    box-shadow: 0 0 6px #55ff88;
    margin-right: 10px;
  }
  
  .point{
    width: 3px;
      height: 3px;
      background-color: #55ff88;
      border-radius: 50%;
      position: relative;
      right: 19px;
  }
  
  .label {
    font-size: 14px;
    color: #fff;
  }