.card-container {
  display: flex;
  flex-direction: row;    
  justify-content: space-around;;  
  align-items: flex-start;
  gap: 20px;                 
  padding: 40px; 
  width: 100%;
  flex-wrap: nowrap;        
  overflow-x: auto;
  background: transparent;
  margin-bottom: 0;
}

.card {
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 20px rgba(100, 255, 100, 0.2);
  color: white;
  text-align: center;
  position: relative;
  height: 450px;
  opacity: 0,5;
  border: 1px solid #868a87;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.network {
  position: relative;
  margin-bottom: 20px;
	margin-top: 115px;
}

.center-icon {
  background: #a9adb4;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border: 2px solid #55ff88;
  box-shadow: 0 0 10px #55ff88;
  position: relative;
  z-index: 1;
	top:-20px;
}

.node {
  width: 25px;
  height: 25px;
  background: #868a87;
  border-radius: 25%;
  position: absolute;
  border: 3px solid #1c1e22;
}

.node2 {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  position: absolute;
  border: 3px solid #1c1e22;
}

.circle{
	width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    left: 9px;
    position: relative;
    top: -8px;
}

.border{
	width: 15px;
    height: 15px;
    opacity: 0, 5;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    left: 4px;
    top: 3px;
}
.top-left { top: -70px; left: 10%; }
.top-right { top: -70px; right: 10%; }
.mid-left { top: 25%; left: 0; transform: translateY(-50%); }
.mid-right { top: 25%; right: 0; transform: translateY(-50%); }
.bottom-left { bottom: -50px; left: 20%; }
.bottom-right { bottom: -50px; right: 20%; }
.bottom-left2 { bottom: -50px; left: 10%; }
.bottom-right2 { bottom: -50px; right: 10%; }
.card-content{
	border-radius: 12px;
  height: 120px;
	background-color: #a9adb4;
	padding-top: 15px;
  
}

.card-content h2 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #b4ffcb;
}

.card-content p {
  font-size: 14px;
  color:white;
	font-weight: bold;
}