.trading-section__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../assets/bg-tradingCard2.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  margin: 0 5rem;
  padding: 5rem;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;  
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:50%;
}

.highlight-text {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  max-width: 900px;
  margin-left: 50px;
}

.tradingcard {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 200px;
}

.scoreboard div {
  padding: 10px 20px;
  border-radius: 10px;
}

.scoreboard {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-left: 50px;
}
