.closing-section__hero {
  position: relative;
  width: 100%;
  background-image: url(/src/assets/bg-ClosingBanner.png);
  background-size: cover;
  background-position: bottom;
  padding: 2rem 6rem;
  display: flex;
  align-items: flex-end;
  color: white;
  font-family: 'Orbitron', sans-serif;
  }
  
  .overlay {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .closing-section__cta-container{
    padding: 0 0rem 3rem 5rem;
    width: 60%;
  }
  
  .closing-section__cta{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
  }

  .closing-section__hero-text-container {
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    justify-self: end;
    width: 35%;
    align-self: end;
}

.closing-btn{
  background-color: #b0e922;
  color: black;
  font-size: 1.25rem;
  padding: 1rem;
}