.roadmap-container {
    text-align: center;
    background-color: #2a2f36;
    padding: 3rem;
    width:100%;
    background-image: url('https://sdmntprukwest.oaiusercontent.com/files/00000000-7d3c-6243-bdf5-30ed6cead40c/raw?se=2025-05-08T09%3A48%3A05Z&sp=r&sv=2024-08-04&sr=b&scid=00000000-0000-0000-0000-000000000000&skoid=eb780365-537d-4279-a878-cae64e33aa9c&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-08T00%3A33%3A11Z&ske=2025-05-09T00%3A33%3A11Z&sks=b&skv=2024-08-04&sig=3jp7tLxyaEMLP2XktC24P/Z%2Bf8QzMQdL4A92jGP7ySg%3D');
  }
  
  .roadmap-container h2 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: white;
    margin-left: 55px;
  }

  
  .roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
  }
  
  .left {
    align-items: flex-end;
    margin-right: 80px;
  }
  
  .right {
    align-items: flex-start;
    margin-left: 80px;
  }

  
  .center-node {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #2a2f36, #1c1e22);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 20px #55ff88;
  }