#root {
  max-width: 100vw;
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-color: #AEEA22;
  font-family: "Orbitron", sans-serif;

}

.App{
  min-width: 95vw;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
