/* src/components/Hero.css */
.hero {
    position: relative;
    width:100%;
    height: 50vh;
    background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./assets/bg-hero.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 1rem 3rem;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    width:50%;
    padding: 40px;
    padding-right: 275px;
}
.highlight{
    color: #AEEA22;
}
.hero-subtitle{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding-right: 8rem;
}