
    .container {
        background-image: url('./assets/bg-tradingCard.png');
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 20px;
        display: flex; 
        justify-content: space-around;
        align-items: center;
        min-width: 100%;  
        box-sizing: border-box;  
      }
      
      .text {
        color: white;
        margin-bottom: 20px;  
        width: 500px;
      }
      